#date {
  padding-top: 4vh;
  font-weight: bolder;
  color: #4c7343;
  font-weight: bold;
  font-size: 20px;
}
#whiteBoxArea {
  padding-top: 110px;
  margin-left: 36px;
}
#whiteBox {
  background-color: white;
  width: 318px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0 0px 20px #d0d0d0;
  overflow-y: scroll;
}
#whiteBox::-webkit-scrollbar {
  display: none;
}
#whiteBoxContent {
  width: 238px;
  padding-top: 20px;
  padding-left: 40px;
}
#boxDate {
  color: #4c7343;
  font-weight: bold;
}

#line {
  width: 238px;
  background-color: #bcbcbc;
  margin-top: 10px;
  margin-bottom: 20px;
  box-shadow: 0 3px 4px 0px lightgray;
}
#content {
  text-align: left;
  font-size: 16px;
  width: 238px;
  height: 350px;
  border: none;
  resize: none;
}
#content:focus {
  outline: none;
}
#grayArea {
  height: 448px;
}

#underNavigation {
  position: relative;
  width: 390px;
  height: 189.48px;
  top: 210px;
  margin: auto;
  background: #aad6a0;
  box-shadow: -5px -5px 4px rgba(0, 0, 0, 0.1);
  border-radius: 15px 15px 0px 0px;
}

#calender,
#circle,
#data,
#image,
#setting {
  position: absolute;
  z-index: 1;
}

#circle {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75px;
}

#image {
  bottom: 4vh;
  left: 4vh;
}
#setting {
  bottom: 4vh;
  right: 4vh;
}
